/* banner.css */
.banner {
  width: 100vw;
  height: 300px;
  background: url('../../assets/Ocean.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: changeBackground 20s infinite;
  position:relative;
  opacity: 1;
}
@keyframes changeBackground {
  0% {
    background-image: url('../../assets/Ocean.jpg');
    opacity: 1;
  }
  25% {
    background-image: url('../../assets/ancientruins.jpg');
    opacity: 1;
  }
  50% {
    background-image: url('../../assets/deepsea.jpg');
    opacity: 1;
  }
  75% {
    background-image: url('../../assets/horribleweather.jpg');
    opacity: 1;
  }
  100% {
    background-image: url('../../assets/Oceanshore.jpg');
    opacity: 1; /* Loop back to the first image */
  }
}
.bloghome-container {
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}
.no-posts-message {
  text-align: center;
  font-size: 1.2rem;
  color: rgba(243, 230, 230, 0.971);
  margin-top: 20px;
}


.create-btn {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #e69600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-btn:hover {
  background-color: #FFA500;
}


  
  .banner h1 {
    color: white;
    font-size: 7em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  /* Blog Section */
  .blog-section {
    width:100%;
    max-width: 1440px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 65px;
    display: flex;
    justify-content: center;
  }

  .list-blogs{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    align-items: center;
  }
  
  .blog-post {
    height: 200px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
  }
  
  /* Create Button */
  .create-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #e69600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:auto;
    height:auto;

    
  }
  

  
.create-btn-container {
  display: flex;
  justify-content: center; 
  margin: 20px 0; 
}

  
  .create-btn:hover {
    background-color: #FFA500;
  }